<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
    <script>
        var cid = "<%=data[0].customer_id%>";
        console.log("session id:"+cid);
        
    </script>    
</head>

<body class="sidebar_main_open sidebar_main_swipe">
 	<!--Top Header-->
    <% include ../../partials/mainheader %>
    <!--Top Header-->
    <% include ../../partials/sidemenu %>
    
    <!--Start Content-->

    <div id="page_content">
        <div id="page_content_inner">
		<h3 class="heading_b uk-margin-bottom">MSP</h3>
		<form method="POST" class="edit" onsubmit="return mspvalidate()" action="/msp/update">
			<div class="md-card" style="height:auto;  padding:20px;">
                <div class="uk-grid">
                  <div class="uk-width-medium-1-2" >
                    <div class="uk-form-row valid" >
                    <% if(sess_id == '1' || sess_id == '2'){ %>
                        <select id="customer_id" name="customer_id" class="md-input">
                        </select><span class="req">*</span>
                        
                    <% }else{ %>
                          <input type="hidden" id="customer_id" name="customer_id" class="md-input" value="<%= sess_cid %>">
                    <% } %>    
                    </div>  
    	            <div class="uk-form-row valid" >
                        <div class="txtlabel">MSP Name</div>
                        <input type="text" class="md-input md-input-success" id="mspname" name="mspname" value="<%=data[0].msp_name%>" placeholder="MSP Name"/><span class="req">*</span>
                          
                    </div>
                    <div class="uk-form-row valid" >
                        <input type="text" class="md-input md-input-success" id="contactname" name="contactname" value="<%=data[0].msp_contact_name%>"placeholder="Contact Name"/>
                    </div>
                    <div class="uk-form-row valid" >
                        <input type="text" class="md-input md-input-success" id="mobileno" name="mobileno" value="<%=data[0].msp_contact_no%>" placeholder="Mobile No"/>
                    </div>
                    <div class="uk-form-row valid" >
                        <input type="text" class="md-input md-input-success" id="mspemail" name="mspemail" value="<%=data[0].msp_contact_email%>" placeholder="Email"/>
                    </div>
                    <div class="uk-form-row" >
                       <div class="txtlabel">Description</div>
                       <input type="text" class="md-input md-input-success" id="mspdesc" name="mspdesc" placeholder="Description" value="<%=data[0].msp_desc %>"/>
                    </div>
                    
                    <div class="uk-form-row" >   
                        <input type="hidden" class="md-input md-input-success" id="mspid" name="mspid" value="<%=data[0].msp_id%>"/>
                    </div>
                    <div class="uk-form-row" >
                       <button type="submit" class="md-btn md-btn-success"><i class="uk-icon-save white paddingleft"></i>Save</button>
                       <button type="button" onClick="cancelMSP();" class="md-btn md-btn-success"><i class="uk-icon-remove white paddingleft"></i>Cancel</button>
                    </div>
                  </div>
                </div>    
			</div>
		</form>	
        </div>
    </div>
    <!--End Content--> 
    
    <!--Start Script-->
    <% include ../../partials/footer %>
    <script type="text/javascript">
        $(function(){
          $.ajax({
                url: '/site/customer',
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    //console.log("Data :"+data.custdata[0].customer_name);
                    var options = '<option value="">--Select Customer--</option>';
                    for (var i = 0; i < data.custdata.length; i++) {
                        if(cid == data.custdata[i].customer_id){
                            options += '<option value="' + data.custdata[i].customer_id + '" selected>' + data.custdata[i].customer_name + '</option>';
                        }else{
                            options += '<option value="' + data.custdata[i].customer_id + '">' + data.custdata[i].customer_name + '</option>';
                        }
                    }    
                    console.log("options :"+options);
                    $("#customer_id").html(options);
                }
            });
      });    

      $("#mspname").on('blur keyup',function(e){
          alpha1('mspname');
      });
    </script>
   
</body>
</html>