<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>     
</head>

<body class="sidebar_main_open sidebar_main_swipe">
 	<!--Top Header-->
    <% include ../../partials/mainheader %>
    <!--Top Header-->
    <% include ../../partials/sidemenu %>
    
    <!--Start Content-->

    <div id="page_content">
        <div id="page_content_inner">
		<h3 class="heading_b uk-margin-bottom">Users</h3>
		<form method="post" id="form" class="edit" action="/users/update" onsubmit="return uservalidate();">
			<div class="md-card" style="height:auto;  padding:20px;">
                <div class="uk-grid">
                  <div class="uk-width-medium-1-2" >
    	            <div class="uk-form-row valid" >
                        <div class="txtlabel">UserName</div>
                        <input type="text" class="md-input md-input-success" id="username" name="username" value="<%=data[0].user_name%>" /><span class="req">*</span>
                               
                    </div>
                    <div class="uk-form-row valid" >
                        <div class="txtlabel">Password</div>
                        <input type="password" class="md-input md-input-success" id="password" name="password" value="<%=data[0].pass_word%>" /><span class="req">*</span>
                               
                    </div>
                    <% if(sess_id != '0'){%>
                    <div class="uk-form-row" >
                        <div class="txtlabel">User Type</div>
                        <select id="user_type" name="user_type" class="md-input" >
                          
                        </select>
                    </div> 
                    <%}%>
                    <div class="uk-form-row valid" >
                      <select id="timezone"  name="timezone" class="md-input">
                      </select><span class="req">*</span>
                    </div>
                    <div class="uk-form-row valid" >
                      <select id="dateformat"  name="dateformat" class="md-input">
                        <% if(data[0].date_format == 'DD/MM/YYYY'){ %>
                            <option value="DD/MM/YYYY" selected>DD/MM/YYYY</option>
                        <%}else{%>
                            <option value="DD/MM/YYYY">DD/MM/YYYY</option>
                        <%}if(data[0].date_format == 'MM/DD/YYYY'){ %>    
                            <option value="MM/DD/YYYY" selected>MM/DD/YYYY</option>
                        <%}else{%>
                            <option value="MM/DD/YYYY">MM/DD/YYYY</option>
                        <%}if(data[0].date_format == 'YYYY/DD/MM'){ %>     
                            <option value="YYYY/DD/MM" selected>YYYY/DD/MM</option>
                        <%}else{%>
                            <option value="YYYY/DD/MM">YYYY/DD/MM</option>
                        <%}if(data[0].date_format == 'YYYY/MM/DD'){ %>             
                            <option value="YYYY/MM/DD" selected>YYYY/MM/DD</option>
                        <%}else{%>
                            <option value="YYYY/MM/DD">YYYY/MM/DD</option>
                        <%}%>        
                      </select><span class="req">*</span>
                    </div>
                    <div class="uk-form-row valid" >
                        <input type="text" class="md-input md-input-success" id="pagerefresh" name="pagerefresh" value="<%=data[0].page_refresh%>" /><span class="req">*</span>
                               
                    </div>
                    <div class="uk-form-row valid" >
                      <select id="landingpage" name="landingpage" class="md-input ">
                      </select><span class="req">*</span>
                    </div>


                    <div class="uk-form-row" >   
                        <input type="hidden" class="md-input md-input-success" id="userid" name="userid" value="<%=data[0].user_id%>"/>
                    </div>
                    <div class="uk-form-row" >
                       <button type="submit"  class="md-btn md-btn-success"><i class="uk-icon-save white paddingleft"></i>Save</button>
                       <button type="button" onClick="cancelUser();" class="md-btn md-btn-success"><i class="uk-icon-remove white paddingleft"></i>Cancel</button>
                    </div>
                  </div>
                </div>    
			</div>
		</form>	
        </div>
    </div>
    <!--End Content--> 
    
    <!--Start Script-->
    <% include ../../partials/footer %>
    <script src="/js/timezones.full.js"></script>
    <script>
        var roleid = 0;
	    var eroleid = 0;
	    roleid = "<%= sess_id %>";
        eroleid = <%= data[0].role_id %> 
        landingpage = <%= data[0].landing_page %>
        console.log("LP :"+landingpage);
        $(function(){
          $.ajax({
                url: '/users/landingpage',
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    //console.log("Data :"+data.custdata[0].customer_name);
                    var options = '<option value="">--Select Landing Page--</option>';
                    for (var i = 0; i < data.landingdata.length; i++) {
                        if(landingpage == data.landingdata[i].id){
                            options += '<option value="' + data.landingdata[i].id + '" selected>' + data.landingdata[i].landing_name + '</option>';
                        }else{
                            options += '<option value="' + data.landingdata[i].id + '">' + data.landingdata[i].landing_name + '</option>';
                        }    
                    }
                    console.log("options :"+options);
                    $("#landingpage").html(options);
                }
            });
      });
      $("#timezone").timezones();  
    </script>
     <script src="/js/user.js"></script>
</body>
</html>
