<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>     
</head>

<body class="sidebar_main_open sidebar_main_swipe">
    <% include ../../partials/mainheader %>
    <% include ../../partials/sidemenu %>

     <!--Start Content-->

<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Gallery List</h3>
        <!--Content Page-->
        <div class="md-card">
            <form>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <table class="display" id="example" width="100%">
                           <thead>
                                <tr>
                                    <th><strong>Gallery Name</strong></th>
                                    <th><strong>Status </strong></th>
                                    <th><strong>Created Date</strong></th>
                                    <th><strong>Updated Date</strong></th>
                                    <th><strong>Edit</strong></th>
                                    <th><strong>Delete</strong></th>
                                </tr>
                           </thead>
                            <tbody>
                            <%  if(JSON.stringify(datas) === '{}'){
                                    console.log("step-2");
                                }else{
                                    datas.forEach(function(d) { %>
                                        <tr>
                                            
                                            <td><%= d.gallery_name%></td>
                                            <td><% if(d.status=="0"){%>
                                                    Enable
                                                <% }else{%>
                                                    Disable
                                                <%}%>    
                                            </td>
                                            <td><%= d.created_date%></td>
                                            <td><%= d.updated_date%></td>
                                            <td><a href='/gallery/edit/<%=d.id%>' class='uk-icon-edit editicon' title='Edit'></td>
                                            <td><a  href='/gallery/delete/<%=d.id%>' onclick='return confirm("Are you sure to delete?")' class='uk-icon-trash editicon'  title='Delete' ></td>
                                        </tr>
                                    <%  });  
                                }        
                            %> 
                    
                        </tbody> 
                        </table>
                    </div>
                </div>
            </div>
            </form>
        </div>   
        <!--End of Content Page-->
    </div>
</div>

<!--End Content--> 


<!--Start Script-->
<% include ../../partials/footer %>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
        
    $("#imgInp").change(function(){
        readURL(this);
    });
</script>
<script type="text/javascript" charset="utf-8">
   $(document).ready(function() {
    $('#example').DataTable();
     //$('<button id="refresh">Refresh</button>').appendTo('div.uk-width-1-4');
     $('<div class="md-btn md-btn-success "><a href="/gallery/add" ><i class="uk-icon-user white paddingleft"></i>Create New</a></div>').appendTo('div.btn1');
     $('#example')
    .removeClass( 'display' )
    .addClass('uk-table uk-table-striped');
  } );
</script>
</body>
</html>